* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(236, 244, 255);
}

main {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1.5rem;
}

button {
  border: none;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(100, 92, 92);
  cursor: pointer;
}

button:hover {
  background-color: rgb(239, 239, 239);
  transition: 0.4s;
}

.green {
  color: green;
  background-color: rgb(239, 248, 245);
}

.green:hover {
  background-color: rgb(222, 233, 229);
}

input {
  height: 2rem;
  text-align: right;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1rem;
  padding-right: 3px;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(198, 223, 215);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.grid {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-auto-rows: 3rem;
  gap: 10px;
}

.zero {
  grid-column: span 2;
}

.grid-2 {
  display: grid;
  grid-template-rows: repeat(5, 3rem);
  grid-auto-columns: 4rem;
  gap: 10px;
}
