* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1.5rem;
}

input {
  height: 2rem;
  text-align: right;
  padding-right: 3px;
}

.grid {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-auto-rows: 3rem;
  gap: 10px;
}

.zero {
  grid-column: span 2;
}

.grid-2 {
  display: grid;
  grid-template-rows: repeat(5, 3rem);
  grid-auto-columns: 4rem;
  gap: 10px;
}
